<html lang="en">
<head>
    <title>Dashboard | {{.Title}}</title>
    <meta http-equiv="refresh" content="300">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>

<!-- Main page container -->
<div class="container">
    <!-- Left pannel -->
    <div class="panel left">
        <!-- Weather module -->
        <div class="module weather">
            <a class="weatherwidget-io" href="https://forecast7.com/en/n33d87151d21/sydney/" data-label_1="SYDNEY" data-label_2="WEATHER" data-theme="dark" ></a>
            <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>
        </div>

        <div class="module clock">
            <iframe src="http://free.timeanddate.com/clock/i79vsnh8/n145/tluk/fn14/fs48/fcfff/tc000/pc000/th1/ts1" frameborder="0" width="100%" height="60px"></iframe>
        </div>

        <!-- Calendar module -->
        <div id="calendar-container" class="module calendar">
            <!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FManila&amp;src=a2hhbmgucGhvbmljLm5ndXllbkBnbWFpbC5jb20&amp;src=NThqajhpbW1zaW1vOXY1Mmg2MTRjN2Y4MjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=MTAzOWY0azNhNDh1ZnRvdnNvaXJlY3BqNGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4uYXVzdHJhbGlhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4tZ2IucGhpbGlwcGluZXMjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%238E24AA&amp;color=%23C0CA33&amp;color=%234285F4&amp;color=%2333B679&amp;color=%239E69AF&amp;showDate=1&amp;mode=DAY&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;showNav=0&amp;showTitle=0" style="border-width:0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe> -->

            <div class="calendar-header">
                <p class="calendar-date">{{ .DateNow }}</p>
            </div>
            <div class="calendar-body">
                <div class="times">
                    {{ range .Times }}
                        <div class="time">{{ . }}</div>
                    {{ end }}
                </div>
                <div class="events">
                    {{ with .Events }}
                        {{ range . }}
                            <div class="event" style="{{ if .Visible }} {{ else }} visibility: hidden; {{end}}min-height: calc(2*{{ .Hours }}*19px + (2*{{ .Hours }} - 1)*4px)">
                                <p>{{ .Summary }}</p>
                            </div>
                        {{ end }}
                    {{ end }}
                    <div id="time-now" class="time-now" style="top: calc(({{ .TimeNow }} - 24)*46px)"></div>
                </div>
            </div>
            <div class="calendar-footer">
                <a style="height: inherit;" href="https://calendar.google.com/calendar/r/week">
                    <img class="calenar-settings" src="/images/settings.png">
                </a>
            </div>
        </div>
    </div>

    <!-- Middle pannel -->
    <div class="panel middle">
        <!-- Focus module -->
        <div class="module focus">
            <textarea id="focus" class="focus-input" name="focus"></textarea>
            <div>
                <input id="save" type="submit" value="Save">    
            </div>
        </div>

        <!-- Task module -->
        <div class="module task">
            {{ with .Card }}
                <h2>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </h2>

                <p class="heading">Description</p>
                {{if .Desc }}
                    <p>{{ .Desc }}</p>
                {{else}}
                   <p>–</p>
                {{end}}

                <p class="heading">Comments</p>
                {{if .Actions }}
                    {{ with .Actions }}
                        {{ range . }}
                            <p>{{ .Date }}</p>
                            {{ with .Data }}
                                <p>{{ .Text }}</p>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{else}}
                   <p>–</p>
                {{end}}

                <form action="/done/" method="POST">
                    <input type="hidden" name="id" value="{{ .ID }}">
                    <input type="submit" value="Mark as Done">
                </form>
            {{ end }}
        </div>
    </div>

    <!-- Right pannel -->
    <div class="panel right">
        <!-- Slideshow module -->
        <!--
        <div class="module slideshow">
            TODO.
        </div>
        -->

        <!-- Tasklist module -->
        <div class="module tasklist">
            {{ with .Tasklist }}
                {{ range . }}
                    <div class="card" target="_blank">
                        <a href="{{ .URL }}">{{ .Name }}</a> 
                        <form action="/" method="GET">
                            <input type="hidden" name="id" value="{{ .ID }}">
                            <input type="submit" value="Select">
                        </form>
                    </div>
                {{ end }}
            {{ end }}
        </div>

        <div class="tasklist-overlay"></div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("save").addEventListener("click", function () {
        var focus = document.getElementById("focus").value;
        localStorage.setItem("focus", focus);
        alert("Saved!");
    } , false);

    document.getElementById("focus").value = localStorage.getItem("focus");

    window.onload = function onPageLoad() {
        document.getElementById("time-now").scrollIntoView({behavior: 'smooth'});

        // This is totally a hack, because there is some weird shit going on.
        setTimeout(function resetCalendarContainer() {
            document.getElementById("calendar-container").scrollTo(0, 0);
        }, 500);
    }

</script>

</body>
</html>